#experience {
  .container {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    max-width: 80rem;
    padding: 0 2.5rem;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;

    @include md {
      flex-direction: row;
    }

    h3 {
      position: absolute;
      top: 5rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 1.1rem;
      color: $secondary;

      @include md {
        top: 4rem;
      }
    }

    .slider-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .arrow-btn {
        width: 2.5rem;
        height: 2.5rem;
        color: $primary;
        cursor: pointer;
      }

      .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 400px;

        .slide {
          position: absolute;
          justify-content: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: opacity 0.5s ease-in-out;
          opacity: 0;
        }

        .active {
          opacity: 1;
        }
      }
    }
  }
}
