.container {
  scrollbar-color: $primary #66666620;

  @include md {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }

  &::-webkit-scrollbar-track {
    background: #66666620;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 6px;
  }

  .snap-start {
    scroll-snap-align: start;
  }

  .snap-center {
    scroll-snap-align: center;
  }
}
